footer {
    padding: 1rem;
    background: rgb(245, 241, 241);
    color: rgb(3, 3, 3);
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .navbar-list{
    display: flex;
  }
  .navbar-element{
    margin-right:1rem ;
  }
  