<div class="modalContent">


  <h1>Épargne du ninja</h1>


  <form class="savingForm" [formGroup]="savingForm">

  <div class="nomObjectifEpargne">

    <span>Nom de l'objectif d'épargne</span>

    <input formControlName="objEpargne" class="dialogInput" type="text" >


  </div>


  <div class="montantAAtteindre">

    <span>Montant à atteindre</span>

    <input formControlName="amountToGet" type="number" min="1" class="dialogInput" placeholder="1600€">
  </div>


  <div class="prioriteListe">
    <span>Priorité dans la liste</span>

    <div class="categorieDropdown">
      <select formControlName="yesOrNo">
        <option value="oui">oui</option>
        <option value="non">non</option>
      </select>
    </div>


  </div>


  <div class="dateEcheance">
    <span>Date d'échéance</span>




    <input formControlName="endDate" type="date" name="dateOfEnd" id="dateOfEnd">







  </div>


  <div class="modalButtons">1</div>
















  </form>

</div>
