<div class="modalContent">


  <div class="nomObjectifEpargne">

    <span>Nom de l'objectif d'épargne</span>

    <input class="dialogInput" type="text" >


  </div>


  <div class="montantAAtteindre">

    <span>Montant à atteindre</span>

    <input type="number" min="1" class="dialogInput" placeholder="1600€">
  </div>


  <div class="prioriteListe">
    <span>Priorité dans la liste</span>

    <div class="categorieDropdown">
      <select>
        <option value="oui">oui</option>
        <option value="non">non</option>
      </select>
    </div>


  </div>


  <div class="dateEcheance">
    <span>Date d'échéance</span>






  </div>


  <div class="modalButtons">1</div>


















</div>
