<div class="widget-container">
    <div class="widget orange">
      <div class="value">
        <div class="bottom">Solde</div>
        <div class="top">21.324</div>
      </div>
    </div>
    <div class="widget orange">
      <div class="value">
        <div class="bottom">Revenus</div>
        <div class="top">221.324</div>
      </div>
    </div>
    <div class="widget orange">
      <div class="value">
        <div class="bottom">Dépences</div>
        <div class="top">16.703</div>
      </div>
    </div>
    <div class="widget orange">
      <div class="value">
        <div class="bottom">Epargne</div>
        <div class="top">2.700</div>
      </div>
    </div>
  </div>
