span{
  color: white;
}


.content{
  position: relative;
  background-color: rgb(24, 24, 24);
  border: 5px solid orange;
}

.contentWithNoButtons{
  margin-top: 35px;

  margin-left: 6rem;
}

h1{
  margin-bottom: 60px;
  margin-left: 18%;
  color: orange;
  font-family: "Shojumaru";
}

.dialogInput{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border-color: white;
}

.periodButtonSmall{
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 40%;
}




.example-full-width {
  width: 88%;
}







.customDropdown{

  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-right: 32%;
  font-size: 16px;
}


.textDiv{
  display: flex;
  flex-direction: column;
  gap: 75px;

}

.inputDiv{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.textAndInputDivs{
  display: flex;
  flex-direction: row;
  gap: 45px;

}

.main {
  display: flex;
  flex-direction: column;

}

.twoButtonSideBySide{
  display: flex;
  justify-content: flex-start;

 ;
}



.content{
display: flex;
  flex-direction: column;
  justify-content: center;
}


h2{
  margin-bottom: 60px;
  margin-left: 34%;
}

.dialogInput{
  padding: 10px;
  font-size: 16px;
  background-color: white;
}

.periodButtonSmall{
  background-color: white;
  padding: 10px;
  font-size: 1rem;
  width: 4rem;
  margin-right: 1rem;
}




.example-full-width {
  width: 88%;
}







.customDropdown{
  background-color: white;
  padding: 10px;
  font-size: 1rem;
}


.textDiv{
  display: flex;
  flex-direction: column;
  gap: 75px;

}

.inputDiv{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.textAndInputDivs{
  display: flex;
  flex-direction: row;
  gap: 45px;

}

.main {
  display: flex;
  flex-direction: column;

}



.CommentariesPlusBothDivs{
  display: flex;
  flex-direction: column;
  gap: 50px;
}






.CommentariesPlusBothDivs{
  display: flex;
  flex-direction: column;
gap: 50px;
}







.boutonAjouter{
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: .5em 1em;
  border-radius: 1em;
  font-family: 'Shojumaru', 'Roboto', cursive;
  cursor: pointer;
  margin-bottom: 2rem;


}
.boutonAjouter:hover {
  background-color: white;
  color: orange;
}


.boutonAnnuler{

  background-color: white;
  color: rgb(24,24,24);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: .5em 1em;
  border-radius: 1em;
  font-family: 'Shojumaru', 'Roboto', cursive;
  cursor: pointer;
  margin-bottom: 2rem;



}

.boutonAnnuler:hover {
  background-color: rgb(24,24,24);
  color: white;
}
