<div class="budget">
  <app-sidebar></app-sidebar>
  <div class="budget__content">
    <app-add-transaction-modal *ngIf="isAddTransactionModalOpened"></app-add-transaction-modal>
    <div class="deleteModal" *ngIf="isDeleteTransactionModalOpened" (click)="handleCloseDeleteModal()"  >
      <div class="deleteModal__container" (click)="stopPropagation($event)">
        <h2 class="deleteModal__container__title">Supprimer une transaction</h2>
        <p class="deleteModal__container__content">Êtes-vous sûr de vouloir supprimer cette transaction ?</p>
        <div class="deleteModal__container__buttons">
          <button class="deleteModal__container__buttons__button deleteModal__container__buttons__button--delete">Supprimer</button>
          <button class="deleteModal__container__buttons__button deleteModal__container__buttons__button--cancel" (click)="handleCloseDeleteModal()">Annuler</button>
        </div>
      </div>
    </div>
    <section class="budget__content__indicators">
      <header class="budget__content__indicators__header">
        <h2 class="budget__content__indicators__header__title">Mon budget</h2>
      </header>
      <div class="budget__content__indicators__content">
        <div class="budget__content__indicators__content__item budget__content__indicators__content__item--orange">
          <div class="budget__content__indicators__content__item__label">Solde</div>
          <div class="budget__content__indicators__content__item__value">1500€</div>
        </div>
        <div class="budget__content__indicators__content__item budget__content__indicators__content__item--dark">
          <div class="budget__content__indicators__content__item__label">Reste à vivre</div>
          <div class="budget__content__indicators__content__item__value">1000€</div>
        </div>
        <div class="budget__content__indicators__content__item budget__content__indicators__content__item--green">
          <div class="budget__content__indicators__content__item__label">Revenus</div>
          <div class="budget__content__indicators__content__item__value">700€</div>
        </div>
        <div class="budget__content__indicators__content__item budget__content__indicators__content__item--red">
          <div class="budget__content__indicators__content__item__label">Dépenses</div>
          <div class="budget__content__indicators__content__item__value">500€</div>
        </div>
      </div>
    </section>
    <section class="budget__content__recurrent">
      <button class="budget__content__recurrent__button">Gérer mes dépenses récurrentes</button>
    </section>
    <section class="budget__content__transactions">
      <header class="budget__content__transactions__header">
        <h2 class="budget__content__transactions__header__title">Dernières transactions</h2>
      </header>
      <div class="budget__content__transactions__buttons">
        <button class="budget__content__transactions__buttons__add" (click)="handleShowModal()">Ajouter une
          transaction</button>
        <a class="budget__content__transactions__buttons__category" routerLink="/categories">Gérer mes catégories</a>
      </div>
      <table class="budget__content__transactions__grid">
        <thead class="budget__content__transactions__grid__head">
          <tr class="budget__content__transactions__grid__head__row">
            <th class="budget__content__transactions__grid__row__head">Date</th>
            <th class="budget__content__transactions__grid__row__head">Libellé</th>
            <th class="budget__content__transactions__grid__row__head">Catégorie</th>
            <th class="budget__content__transactions__grid__row__head">Montant</th>
            <th class="budget__content__transactions__grid__row__head">Modif</th>
            <th class="budget__content__transactions__grid__row__head">Supp</th>
          </tr>
        </thead>
        <tbody class="budget__content__transactions__grid__body">
          <div *ngFor="let transaction of transactions">
            <app-budget-transaction [transaction]="transaction"></app-budget-transaction>
          </div>
        </tbody>
      </table>
    </section>
  </div>
</div>