.budget
    display: flex

    &__content
        flex-grow: 1
        min-height: 100vh
        height: 100vh
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        padding: 2rem
        margin-left: 300px

        &__indicators
            width: 100%
            padding: 1rem

            &__header
                display: flex
                justify-content: space-between
                align-items: center
                padding: 0 1rem
                margin-bottom: 1rem
                margin-bottom: 1rem

                &__title
                    font-size: 2rem
                    font-weight: 700
                    font-family: 'Shojumaru', 'Roboto', cursive
                    color: rgb(24,24,24)
                    width: 100%
                    text-align: center

                &__link
                    font-size: 1.5rem
                    font-weight: 700
                    text-decoration: underline

            &__content
                display: flex
                justify-content: space-around
                align-items: flex-start
                width: 100%
                padding-top: 0
                margin-bottom: 2rem

                &__item
                    width: 200px
                    height: 200px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    margin: 1rem
                    padding: 1.5rem
                    box-sizing: border-box
                    text-align: left
                    border-radius: 50%

                    &--orange
                        border: 10px solid orange
                        background-color: rgb(255, 249, 233)
                        color: orange

                    &--dark
                        background-color: rgb(246, 246, 246)
                        border: 10px solid rgb(67, 67, 67)
                        color: rgb(67, 67, 67)

                    &--red
                        background-color: rgb(255, 247, 247)
                        border: 10px solid rgb(235, 41, 41)
                        color: rgb(235, 41, 41)

                    &--green
                        background-color: rgb(237, 255, 237)
                        border: 10px solid rgb(20, 141, 20)
                        color: rgb(20, 141, 20)


                    &__value
                        font-size: 2rem
                        font-weight: bold
                        text-align: center

                    &__label
                        font-size: 2rem
                        font-weight: bold
                        text-align: center

        &__recurrent
            margin-bottom: 2rem

            &__button
                background-color: orange
                color: white
                font-size: 1rem
                text-transform: uppercase
                padding: .5em 1em
                border-radius: 1em
                font-family: 'Shojumaru', 'Roboto', cursive
                cursor: pointer
                margin-bottom: 2rem
                display: block
                margin: 0 auto
                margin-bottom: 1rem

                &:hover
                    background-color: white
                    background-color: rgb(24,24,24)

        &__transactions
            width: 100%
            padding: 1rem

            &__order
              display: flex
              flex-direction: column
              width: min-content
              padding: 1rem
              border-radius: 2rem

              &__label
                color: rgb(24,24,24)
                font-weight: bold
                font-size: 1.2rem
                margin-bottom: .25rem

              &__select
                background-color: rgb(24,24,24)
                padding: .5rem 1rem
                font-size: 1.2rem
                color: white

            &__header
                display: flex
                justify-content: space-between
                align-items: center
                padding: 0 1rem
                margin-bottom: 1rem

                &__title
                    font-size: 2rem
                    font-weight: 700
                    font-family: 'Shojumaru', 'Roboto', cursive
                    color: rgb(24,24,24)
                    width: 100%
                    text-align: center
                    margin-bottom: 2rem

            &__buttons
                display: flex
                justify-content: center

                &__add, &__category
                    color: white
                    font-size: 1rem
                    text-transform: uppercase
                    padding: .5em 1em
                    border-radius: 1em
                    font-family: 'Shojumaru', 'Roboto', cursive
                    cursor: pointer

                &__add
                    background-color: orange
                    margin-right: 1rem
                    border: 2px solid orange

                    &:hover
                        background-color: #fefefe
                        color: orange
                        border: 2px solid orange

                &__category
                    margin-left: 1rem
                    background-color: rgb(24,24,24)
                    border: 2px solid rgb(24,24,24)

                    &:hover
                        background-color: #fefefe
                        color: rgb(24,24,24)
                        border: 2px solid rgb(24,24,24)

            &__add
                background-color: orange
                color: white
                font-size: 1rem
                text-transform: uppercase
                padding: .5em 1em
                border-radius: 1em
                font-family: 'Shojumaru', 'Roboto', cursive
                cursor: pointer
                margin-bottom: 2rem
                display: block
                margin: 0 auto

                &:hover
                    background-color: white
                    background-color: rgb(24,24,24)

            &__grid
                width: 100%

                &__head
                    padding: 5rem
                    padding-bottom: 2rem

                    &__row
                        display: grid
                        grid-template-columns: 1fr 2fr 1fr 1fr .5fr .5fr
                        width: 100%
                        padding: .75rem
                        margin-bottom: 1rem
                        background-color: rgb(24,24,24)
                &__body
                  width: 100%

                  &__empty
                    display: block
                    width: 100%
                    text-align: center
                    font-size: 1.5rem
                    font-weight: bold

                &__head, &__body
                    width: 100%

                &__row
                    display: grid
                    grid-template-columns: 1fr 1fr 2fr 2fr .5fr .5fr
                    align-items: center
                    width: 100%
                    border-collapse: collapse
                    padding: .75rem
                    margin-bottom: .25rem

                    &--revenu
                        background-color: rgb(222, 255, 222)

                    &--depense
                        background-color: rgb(255, 238, 238)

                    &--previsionnel
                        background-color: rgb(255, 213, 255)
                        border: 3px solid purple
                        border-radius: 1rem
                        font-weight: bold

                    &__data, &__head
                        text-align: center

                    &__data
                        font-size: 1.5rem

                        &--revenu
                            color: green

                        &--depense
                            color: red

                        &--previsionnel
                            color: purple

                        &__delete
                            width: 1.5rem
                            cursor: pointer

                        &__edit
                            width: 1.9rem
                            cursor: pointer

                    &__head
                        font-size: 1.2rem
                        font-weight: bold
                        font-family: 'Shojumaru', 'Roboto', cursive
                        color: #fefefe
                        text-align: center

.deleteModal
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0, .75)
    z-index: 1
    font-family: 'Shojumaru', 'Roboto', cursive
    min-height: 100vh
    color: #fefefe

    &__container
        display: flex
        flex-direction: column
        align-items: center
        background-color: rgb(24,24,24)
        padding: 2rem
        padding-top: 3rem
        border-radius: 1rem
        border: 5px solid orange
        position: relative
        overflow-y: scroll
        max-height: 100vh

        &::-webkit-scrollbar
          display: none

        &__logo
            height: 80px
            margin-bottom: 2rem

        &__title
            color: orange
            text-transform: uppercase
            font-size: 1.8rem
            font-weight: bold
            margin-bottom: 2rem
            font-family: 'Shojumaru', 'Roboto', cursive
            width: 350px
            text-align: center

        &__content
            font-size: 1.5rem
            font-weight: bold
            color: #fefefe
            margin-bottom: 1rem

        &__buttons
            display: flex
            justify-content: space-between
            width: 100%

            &__button
                color: white
                margin: 0 auto
                margin-top: 1rem
                font-size: 1.5rem
                font-weight: bold
                border-radius: 1.5rem
                cursor: pointer
                padding: .5em 2em

                &--delete
                    background-color: red

                    &:hover
                        background-color: rgb(255, 73, 73)

                &--cancel
                    background-color: orange

                    &:hover
                        background-color: rgb(255, 198, 73)

@media all and (max-width: 800px)
    .budget
        flex-direction: column

        &__content
            margin-left: auto
