.budget
    display: flex

    &__content
        flex-grow: 1
        min-height: 100vh
        height: 100vh
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        padding: 2rem

        &__indicators
            width: 100%
            padding: 1rem

            &__header
                display: flex
                justify-content: space-between
                align-items: center
                padding: 0 1rem
                margin-bottom: 1rem

                &__title
                    font-size: 2.5rem
                    font-weight: 700
                    font-family: 'Shojumaru', 'Roboto', cursive
                    color: rgb(24,24,24)
                    width: 100%
                    text-align: center

                &__link
                    font-size: 1.5rem
                    font-weight: 700
                    text-decoration: underline

            &__content
                display: flex
                justify-content: center
                flex-wrap: wrap
                align-items: flex-start
                width: 100%
                padding: 2rem
                padding-top: 0

                &__item
                    width: 40%
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    margin: 1rem
                    padding: 1.5rem
                    box-sizing: border-box
                    text-align: left
                    border-radius: 3rem

                    &--orange
                        border: 5px solid orange
                        background-color: rgb(255, 246, 218)
                        color: orange

                    &--dark
                        background-color: rgb(241, 241, 241)
                        border: 5px solid rgb(24,24,24)
                        color: rgb(24,24,24)

                    &--red
                        background-color: rgb(255, 238, 238)
                        border: 5px solid red
                        color: red

                    &--green
                        background-color: rgb(222, 255, 222)
                        border: 5px solid green
                        color: green


                    &__value
                        font-size: 2rem
                        font-weight: bold

                    &__label
                        font-size: 2rem
                        font-weight: bold

        &__transactions
            width: 100%
            padding: 1rem

            &__header
                display: flex
                justify-content: space-between
                align-items: center
                padding: 0 1rem
                margin-bottom: 1rem

                &__title
                    font-size: 2.5rem
                    font-weight: 700
                    font-family: 'Shojumaru', 'Roboto', cursive
                    color: rgb(24,24,24)
                    width: 100%
                    text-align: center
            
            &__buttons
                display: flex
                justify-content: center

                &__add, &__category
                    color: white
                    font-size: 1rem
                    text-transform: uppercase
                    padding: .5em 1em
                    border-radius: 1em
                    font-family: 'Shojumaru', 'Roboto', cursive
                    cursor: pointer

                &__add
                    background-color: orange
                    margin-right: 1rem
                    border: 2px solid orange

                    &:hover
                        background-color: #fefefe
                        color: orange
                        border: 2px solid orange

                &__category
                    margin-left: 1rem
                    background-color: rgb(24,24,24)
                    border: 2px solid rgb(24,24,24)

                    &:hover
                        background-color: #fefefe
                        color: rgb(24,24,24)
                        border: 2px solid rgb(24,24,24)

            &__add
                background-color: orange
                color: white
                font-size: 1rem
                text-transform: uppercase
                padding: .5em 1em
                border-radius: 1em
                font-family: 'Shojumaru', 'Roboto', cursive
                cursor: pointer
                margin-bottom: 2rem
                display: block
                margin: 0 auto

                &:hover
                    background-color: white
                    background-color: rgb(24,24,24)

            &__grid
                width: 100%
                margin-top: 2rem

                &__head
                    padding: 5rem
                    padding-bottom: 2rem

                    &__row
                        display: grid            
                        grid-template-columns: 1fr 1fr 2fr 2fr .5fr .5fr
                        width: 100%
                        padding: .25rem
                        margin-bottom: 1rem
                        background-color: rgb(24,24,24)

                &__head, &__body
                    width: 100% 
                    
                &__row
                    display: grid            
                    grid-template-columns: 1fr 1fr 2fr 2fr .5fr .5fr
                    width: 100%

                    &__data, &__head
                        text-align: center

                    &__data
                        &__delete
                            width: 1.5rem

                    &__head
                        font-size: 1.2rem
                        font-weight: bold
                        font-family: 'Shojumaru', 'Roboto', cursive
                        color: #fefefe
                        text-align: center


@media all and (max-width: 800px)
    .budget
        flex-direction: column
