
.category__content {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-left: 300px;
}

.container {
  flex-grow: 1;
  width: 80%;
  overflow-x: auto;
  margin-top: 40px; /* Điều chỉnh giá trị margin-top ở đây */
}
.mat-elevation-z8{
  padding: 1rem;
  background-color: white; /* Màu nền bảng */
  border: 1px solid black; /* Đường viền bảng */
  border-radius: 4px;
}


