
.category__content {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-left: 300px;
}

.container {
  flex-grow: 1;
  width: 80%;
  overflow-x: auto;
  margin-top: 40px; /* Điều chỉnh giá trị margin-top ở đây */
  /* font-size: 10rem; */
}
.mat-elevation-z0 {
  padding: 1rem;
  background-color: white; /* Màu nền bảng */
  border-radius: 4px;
  width: 50%;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
}
.text-categorie{
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;

  text-align: left;
  /* margin-bottom: 5px; */
}
h1{
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Shojumaru', 'Roboto', 'cursive';
  text-align: center;
}

