<div class="contentProject">

  <div class="graph">graph</div>



<div class="indicators">


  <h3>{{project.objEpargne}} {{project.amountToGet}}€</h3>
  <span>Reste à épargner : </span>

  <span>Temps restant : {{project.endDate}} otro : {{ formatTimeRemaining() }}</span>



  <button mat-icon-button (click)="editSavingGoal(project)" >
    <mat-icon>edit</mat-icon>
  </button>


  <button mat-icon-button (click)="deleteSavingGoal(project.id)" color="warn">
    <mat-icon>delete</mat-icon>
  </button>

</div>















</div>
