<div class="saving">

  <app-sidebar></app-sidebar>


  <div class="saving_content">

    <div class="containerSavingsPage">

      <span>€€€</span>
      <h1>Epargne</h1>

      <div class="programmedSaving">



        <div *ngIf="proProjects && proProjects.length > 0">
          <app-saving-programmed [proProject]="proProjects[0]"></app-saving-programmed>
        </div>

        <!-- Si il y a un projet (donc en index 0 ) alors le bouton ajouter disparait -->
        <div *ngIf="!proProjects || proProjects.length === 0">
          <button class="boutonAjouter" (click)="openSecondDialog()">Ajouter</button>
        </div>




      </div>


      <div class="savingsObjectives">

        <h2>Objectifs d'épargnes</h2>

        <mat-divider></mat-divider>



        <!-- Si il y a un projet (donc en index 0 ) alors le bouton ajouter disparait -->
        <div *ngIf="!projects || projects.length === 0">
          <button class="boutonAjouter" (click)="openDialog()">Ajouter</button>
        </div>

        <!-- On affiche les projets via une itération -->
        <div *ngIf="projects && projects.length > 0">
          <app-saving-project [project]="projects[0]"></app-saving-project>
        </div>


      </div>


    </div>


  </div>


</div>
