<div class="saving">

<app-sidebar></app-sidebar>


  <div class="saving_content">

    <div class="containerSavingsPage">

    <div class="savingAmount">

      <h1>//Montant//</h1>
      <h1>Épargne</h1>

    </div>







    <div class="programmedSaving">

      <h2>Épargne programmée</h2>
      <div><span>/mois</span></div>

      <div>
        <button class="boutonAjouter" (click)="openSecondDialog()" >Ajouter</button>
      </div>



    </div>











    <div class="savingsObjectives">

      <h2>Objectifs d'épargnes</h2>

      <mat-divider></mat-divider>

      <div>
        <button class="boutonAjouter" (click)="openDialog()">Ajouter</button>
      </div>



      <app-saving-project></app-saving-project>



    </div>







</div>













</div>























</div>
