.budget{
  display: flex;
}

.budget__content{
  flex-grow: 1;
  min-height: 100vh;
}

.saving {
  display: flex;
  justify-content: center;
}


.containerSavingsPage{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 1rem;
  align-items: center;
}
.saving_content {
  flex-grow: 1;
  min-height: 100vh;
  background-color: #fefefe;
  color: rgb(24, 24, 24);
  margin-left: 250px;

}

.savingAmount{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.programmedSaving{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 90%;
  margin-left: 6rem;
  margin-right: 2rem;
  margin-top: 5rem;
}

.savingsObjectives{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}









.boutonAjouter{
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: .5em 1em;
  border-radius: 1em;
  font-family: 'Shojumaru', 'Roboto', cursive;
  cursor: pointer;
  margin-bottom: 2rem;
  border: 3px solid orange;

}
.boutonAjouter:hover {
  background-color: white;
  color: orange;
  border: 3px solid orange;
}
