<div class="content">
  <div mat-dialog-title>Ajouter une nouvelle catégorie</div>

  <div mat-dialog-content>
    <form [formGroup]="categorieForm">
    <mat-form-field>
      <mat-label>Nom de catégorie</mat-label>
      <input formControlName="categorieName" matInput>
    </mat-form-field>
  </form>
    <div mat-dialog-action [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
      <button style="margin-left: 8px" mat-raised-button color="primary" (click)="ajouterCategorie()">{{actionBtn}}</button>
    </div>
  </div>
</div>