.alert{
  display: flex;
}

.componant{
  flex-grow: 1;
  min-height: 100vh;
}





.filterBar{
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 2%;
  background-color: lightgray;
  color: black;
}
::placeholder{
  color: black;
}



table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.containerList{
  width: 80%;
  margin: 0 auto;
}


h1{
  margin-bottom: 5%;
  font-family: "Shojumaru";

}

h2{
  margin-top: 3%;
  font-family: "Shojumaru";


}

.containerAlertPage{
  margin-left: 3%;
  margin-top: 3%;
}

.fromDividertoThirdCheckbox{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.autresNotif{
  display: flex;
  flex-direction: column;
  gap: 25px;


}

.checkOne, .checkTwo,.checkThree{
  display: flex;
  flex-direction: row;
align-items: center;
  gap: 2%;

}

.AjouterEtFilter{
  gap: 5%;
}

.test{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}

.periodButtonSmall{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 40%;
}

.customDropdown{

  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-right: 32%;
  font-size: 16px;
}

.twoButtonSideBySide{
  display: flex;
  flex-direction: row;
}

.mat-elevation-z0{
  display: flex;
  flex-direction: column;
}


