<div class="home">
  <app-homeheader (onToggleMenu)="toggleMenu($event)" [isMenuOpened]="isMenuOpened"></app-homeheader>

  <!-- contenu du menu mobile (bouton connexion) -->
  <div [ngClass]="!isMenuOpened ? 'menu' : 'menu menu--opened'">
    <button [ngClass]="!isMenuOpened ? 'menu__login' : 'menu__login menu__login--opened'"
      (click)="toggleMenu(!isMenuOpened)">connexion</button>
  </div>

  <main>
    <h1 class="home__title"><span style="color: black">budget</span> ninja</h1>

  </main>

  <footer></footer>
</div>
