<div class="modalContent">


  <h1>Mon épargne programmée</h1>


  <form class="savingFormular" [formGroup]="programmedSavingForm" >

    <div class="montantAEpargner">
      <span>Montant à épargner</span>
      <input formControlName="amountProgrammed" maxlength="20" type="number" min="1" class="dialogInput" placeholder="100€" required>

    </div>
    <div *ngIf="isSubmitClicked && programmedSavingForm.get('amountProgrammed')?.invalid ">
      <span class="error-message" [class.show-message]="isSubmitClicked">Veuillez entrer un montant</span>
    </div>

    <div class="frequence">
      <span>Choisir la fréquence</span>

      <div class="frequencyByTwo">
        <input formControlName="frequencyProgrammed" maxlength="20" type="number" min="1" class="periodButtonSmall" placeholder="4" required>

        <div *ngIf="isSubmitClicked && programmedSavingForm.get('frequencyProgrammed')?.invalid ">
          <span class="error-message" [class.show-message]="isSubmitClicked">Veuillez entrer une fréquence</span>
        </div>

        <div class="categorieDropdown">
          <select formControlName="PeriodicityProgrammed" >
            <option value="jours">jours</option>
            <option value="semaines">semaines</option>
            <option value="mois">mois</option>
          </select>
        </div>

        <div *ngIf="isSubmitClicked && programmedSavingForm.get('PeriodicityProgrammed')?.invalid ">
          <span class="error-message" [class.show-message]="isSubmitClicked">Veuillez entrer une périodicité</span>
        </div>


      </div>

    </div>


    <div mat-dialog-actions [align]="'center'" class="modalButtons">


      <button class="boutonAnnuler" mat-dialog-close>Annuler</button>
      <button class="boutonAjouter" style="margin-left: 15px" (click)="addProgrammedSaving()">valider</button>


    </div>

  </form>

</div>
