<div class="modalContent">


  <h1>Mon épargne programmée</h1>


  <form class="savingFormular" >

    <div class="montantAEpargner">
      <span>Montant à épargner</span>
      <input  maxlength="20"  type="number" min="1" class="dialogInput" placeholder="100€" required>
    </div>

    <div class="frequence">
      <span>Choisir la fréquence</span>

        <div class="frequencyByTwo">
          <input  maxlength="20"  type="number" min="1" class="periodButtonSmall" placeholder="4" required>

          <div class="categorieDropdown">
            <select formControlName="categorie">
              <option value="jours">jours</option>
              <option value="semaines">semaines</option>
              <option value="mois">mois</option>
            </select>
          </div>


        </div>

    </div>

    <div class="dateDebut"></div>

    <span>Date de début</span>

    <input formControlName="debutDate" type="date" name="debutDate" id="dateOfDebutId" >


    <div class="dateFin">

      <span>Date de fin</span>

      <div class="checkboxAndDatePicker">
      <input  type="date" name="endDate" id="dateOfEndId" >
      <input class="checkboxNinja" type="checkbox" >
      </div>

    </div>
















    <div mat-dialog-actions [align]="'center'" class="modalButtons">


      <button class="boutonAnnuler" mat-dialog-close>Annuler</button>
      <button class="boutonAjouter" style="margin-left: 15px" >valider</button>


    </div>

  </form>

</div>
